[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/vim-exercism"]
	path = vim/bundle/vim-exercism
	url = git@github.com:rsslldnphy/vim-exercism.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
